@model IEnumerable<telefonRehberi.calisanlar>

@{
    ViewBag.Title = "CalisanListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Çalışan Listele</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
		
    </tr>
}

</table>
